<p>Click the button below to sign in to Crimata. This link expires in <%= @expires %>.</p>

<p style="margin: 32px 0;">
  <a href="<%= @url %>" class="btn">Sign in to Crimata</a>
</p>

<p class="muted">
  If you didn't request this, you can safely ignore this email.<br />
  This link can only be used once.
</p>
